.form {
    display: flex;
    margin-top: -20px;
    border: 2px solid #ddd;
    padding: 20px;
    background-color: #fff;
    font-size: 20px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

@media (max-width: 767px) {
    .form {
        flex-wrap: wrap;
    }
}

.form__item {
    padding: 10px;
    margin: 10px;
    flex-shrink: 0;
}

@media (max-width: 767px) {
    .form__item {
        width: 100%;
    }
}

.form__input {
    flex-grow: 1;
    border: 2px solid #ddd;
}

.button__task {
    background-color: hsl(180, 100%, 25%);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.75, 0.14, 0.59, 1.03);
}

.button__task:hover {
    background-color: hsl(180, 100%, 40%);
    transform: scale(1.15);
}