html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #eee;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body__container {
  /* background-color: #eee; */
  font-family: 'Montserrat', sans-serif;
}