.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1112px) {
    .buttons {
        grid-template-columns: 1fr;
    }
}

.buttons__button {
    background: none;
    border: none;
    cursor: pointer;
    color: hsl(180, 98%, 26%);
}

.buttons__button:hover {
    color: hsl(180, 50%, 50%);
    transition: 1s;
}

.buttons__button:disabled {
    color: #dddddd;
    cursor: default;
}

.buttons__button:disabled.buttons__button:hover {
    color: #ddd;
    cursor: default;

}

@media (max-width: 610px) {

    /* Tu trzeba to przenieść 
    .section__heading--second {
        grid-template-columns: 1fr;
    }*/

    .section__heading__finishButton {
        margin: 10px 0px;
    }

    .section__heading__hideButton {
        margin: 10px 0px;
    }

}